:root{
    --btnBackground: #b266b2;
}

body{
    background-color: #e1bee7;
}

nav h1 a{
    color: #ac5eb9dc;
}

nav h1 a:hover{
    color: #800080;
}

section div:first-child{
    background-color: #ce93d8;
}


/* form button */
#btnSave{
    background-color: var(--btnBackground);
    color:white;
    font-size: 24px;
    border-radius: 10px;
    border: none;
}

#btnSave:hover{
    background-color: #800080
    ;
}

footer{
    background-color:#ce93d8;
}

#hr-line{
    margin-top: 20px;
    margin-bottom: 50px;
    height: 2px;
  
}