{% extends 'base.html' %} 

{%  block title  %} Home | MemoryDiary   {%  endblock   %}

{%  block contents  %}  
    <section class="row row-cols-sm-2 justify-content-center p-4 mt-4 ">
        <div class="col-md-5 col-lg-5 p-4 text-center">
            <h2 >
                World of the day
            </h2>
            <h4>
                Today will be better than yesterday
            </h4>
            <h5 class="mt-4" >
                Anytime something positive happens, make a note of it and come back to it later
            </h5>
            <form action="{% url 'home' %}" method="post"  class="mt-5">
                <label for="newMemory" class="form-label">Write new memory below</label>
                <textarea name="memory" class="form-control" rows="4"></textarea>
                <button id="btnSave" type="submit" class="btn btn-sm mt-5 px-3 py-2 ">
                    Save
                </button>
                <h6 class="mt-4 font-weight-bold">Remember the good times</h6>
            </form>
        </div>
        <div class="col-md-6 col-lg-6 p-4">
            Highlights
        </div>
    </section>
{%  endblock   %}