{% extends 'base.html' %} 

{%  block title  %} Home | MemoryDiary   {%  endblock   %}

{%  block contents  %}  
    <section class="row ">
        <div class="">
            <h1 >
                World of the day
            </h1>
            <h2 >
                Today will be better than yesterday
            </h2>
            <h3 >
                Anytime something positive happens, make a note of it and come back to it later
            </h3>
        </div>
        <div class="">
            Highlights
        </div>
       
    </section>

 

{%  endblock   %}