{% extends 'base.html' %} 

{%  block title  %} Home  {%  endblock   %}

{%  block contents  %}  
    <section class="grid grid-cols-1 lg:grid-cols-6 gap-y-12 lg:gap-x-12 p-8">
        <div class="col-span-2 lg:col-span-3 h-[780px] sm:h-[500px] bg-[#ce93d8] rounded-lg text-center p-4">
            <h1 class="text-2xl font-bold uppercase">
                World of the day
            </h1>
            <h2 class="text-xl font-bold">
                Today will be better than yesterday
            </h2>
            <h3 class="text-xl font-medium mt-6">
                Anytime something positive happens, make a note of it and come back to it later
            </h3>
        </div>
        <div class="">
            Highlights
        </div>
    </section>
{%  endblock   %}